.grid {
    width: 14vw;
    height: 14vw;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    overflow-y: hidden;
    /* prevents the grid from affecting the scroll bar */
}

.cell {
    background-color: white;
    /* padding: 0px; */
    border: 1px solid black;
    aspect-ratio: 1;
    /* make cells square */
}

.cell {
    width:23px;
    height: 23px;;
    /* sets the height of each cell to half its original size */
    text-align: center;
    /* centers the content of each cell */
    margin: 0;
    padding: 0;
}

.highlighted {
    background-image: url("/static/assets/highlighted.png");
    background-size: cover;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.bottom-rectangle-text {
    position: absolute;
    top: 0;
    /* Position at the top of the right rectangle */
    left: 0;
    /* Position at the left of the right rectangle */
    width: 100%;
    /* Set the width to the full width of the right rectangle */
    height: 100%;
    /* Set the height to the full height of the right rectangle */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.bottom-rectangle {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 20vh;
    background-color: rgb(93,93,222);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    border: 2px solid black;
    color: white;
}

.right-rectangle {
    position: absolute;
    top: 50%;
    right: 0;
    /* Position at the right of the grid */
    left: 60vw;
    transform: translateY(-50%);
    width: 15vw;
    /* Increased width by 50% */
    height: 39vh;
    /* Increased height by 30% */
    background-color: #f0f0f0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: -1;
    background-color: rgba(72, 72, 228, 0.572);
}

.grid {
    position: relative;
    /* Make the grid a relative positioned element */
    width: 14vw;
    height: 14vw;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    overflow-y: hidden;
    /* prevents the grid from affecting the scroll bar */
}

.blue {
    background-image: url("/static/assets/blue.png");
    background-size: cover;
}

.orange {
    background-image: url("/static/assets/orange.png");
    background-size: cover;
}

.dropdown {
    position: absolute;
    top: 0;
    right: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


.image-div {
    /* moved to the right a middle amount */
    width: 10vw;
    height: 20vh;
    overflow: visible;
    z-index: 0;
}

.image-div img.talking-image {
    max-width: 100%;
    /* Ensures the image won't exceed the container width */
    max-height: 100%;
    /* Ensures the image won't exceed the container height */
    object-fit: contain;
    /* Scales the image to fit the container while maintaining aspect ratio */
}

#image-button {
    position: absolute;
    bottom: 2vh;
    right: 2vw;
    padding: 5px 10px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    background-color: #FF6347;
    /* changed color to be a little more red */
    color: #fff;
    cursor: pointer;
    z-index: 2;
}

#image-button::after {
    /* content: '>>'; */
    /* added two arrows to the button */
    margin-left: 10px;
}


.highlighted-node-character-show {
    position: absolute;
    top: 0;
    /* Position at the top of the right rectangle */
    left: 0;
    /* Position at the left of the right rectangle */
    width: 100%;
    /* Set the width to the full width of the right rectangle */
    height: 100%;
    /* Set the height to the full height of the right rectangle */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.character-attributes {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.invisible {
    display: none;
}

.highlighted-node-character-show {
    display: flex;
    flex-direction: column;
}

.character-attributes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.character-name {
    font-size: larger;
    position: absolute;
    top: 10px;
    left: 10px;
}

.character-health {
    padding-bottom: 10px;
    /* Add some space between "Health" and its value */
}

.character-health::first-line {
    text-decoration: underline;
}

.health-bar {
    border: 1px solid black;
    padding: 2px;
}

.health-bar {
    position: relative;
    top: -3px;
    color: green;
}

.name-div {
    border: 2px solid rgb(186, 182, 45);
    padding: 5px;
    background-color: white;
    border-radius: 10px;
}


