<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="grid">
        {% for i in range(board_size) %}
        <div>
            {% for j in range(board_size) %}
            <div class="cell" id="{{ j }}_{{ i }}" data-row="{{ i }}" data-col="{{ j }}"></div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    
    <div class="right-rectangle"></div>
    
    <div class="bottom-rectangle">
        <button id="image-button">>></button>
        <!-- <div class="bottom-rectangle-text"></div> -->
    </div>

    <script type="module" src="static/script.js"></script>

</body>

</html>